body {
    text-align: center;
    background-color: #0F4566;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Caveat', sans-serif;
    font-weight: 400;
    font-size: 70px;
    margin: 0.2em;
}

h2, label {
    font-weight: 300;
    letter-spacing: 0.044em;
}

h2 {
    margin: 1em 0 1.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

label {
    margin-right: 0.313em;
}

label[for=input_width] {
    margin-left: 1.25em;
}

input[type=number],
input[type=submit] {
    border: 1px solid #fff;
}

input[type=submit] {
    display: block;
    margin: 1.25em auto 0.625em;
    padding: 0.625em 1.25em;
    background-color: transparent;
    color: #fff;
    border-radius: 0.938em;
    border-style: none;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 0.078em;
    margin-top: 1.25em;
}

input[type=submit],
input[type=submit]:visited,
input[type=submit]:hover {
    background-color: #61FFE5;
    color: #000;
}

input[type=submit]:active {
    background-color: #F0DB3C;
    color: #000;
}

input[type=submit]:focus {
    outline-style: none;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=number] {
    width: 3.125em;
    padding: 0.313em;
    background-color: #ccc;
}

table,
tr,
td {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}